@media (max-width: 1920px){
  .container{
    padding: 0 calc(5px + (15 - 5) * ((100vw - 320px) / (1920 - 320)));
  }
  .intro__bg{
    height: calc(812px + (1080 - 812) * ((100vw - 320px) / (1920 - 320)));
  }
  .intro__container{
    height: calc(812px + (1080 - 812) * ((100vw - 320px) / (1920 - 320)));
  }
   .burger{
    max-width: calc(40px + (60 - 40) * ((100vw - 320px) / (1920 - 320)));
    height: calc(18px + (31 - 18) * ((100vw - 320px) / (1920 - 320)));
  }
  .burger span{
    top: calc(7px + (13 - 7) * ((100vw - 320px) / (1920 - 320)));
    height: calc(4px + (5 - 4) * ((100vw - 320px) / (1920 - 320)));
  }
  .burger:before,
  .burger:after{
    height: calc(4px + (5 - 4) * ((100vw - 320px) / (1920 - 320)));
  }
  .burger.active:before{
    top: calc(8px + (12 - 8) * ((100vw - 320px) / (1920 - 320)));
  }
  .burger.active:after{
    bottom: calc(7px + (12 - 7) * ((100vw - 320px) / (1920 - 320)));
  }
}