@font-face {
    font-family: 'Sansation';
    src: local('Sansation Light'), 
    url('../fonts/sansationlight.woff2') format('woff2'), 
    url('../fonts/sansationlight.woff') format('woff'), 
    url('../fonts/sansationlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Sansation';
    src: local('Sansation Bold'), 
    url('../fonts/sansationbold.woff2') format('woff2'), 
    url('../fonts/sansationbold.woff') format('woff'), 
    url('../fonts/sansationbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body{
  font-family: 'Sansation';
  font-weight: 300;
  background-color: #242424;
  color: #fff;
}

body.lock{
  overflow: hidden;
}

.page{
  overflow: hidden;
  min-height: 100vh;
}

.container{
  width: 100%;
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}

.intro__bg{
  position: relative;
  height: 1080px;
  z-index: 1;
}

.intro__media{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.header__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}

.number{
  position: relative;
  font-size: 30px;
  color: #fff;
  font-weight: 900;
}

.number:before{
  content: '';
  position: absolute;
  top: 10px;
  left: -25px;
  background-color: #C49A53;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: block;
}

.number__text{
  font-size: 20px;
  color: #fff;
  font-weight: 300;
}

.logo{
  cursor: pointer;
  max-width: 75px;
  animation: moving 3s infinite linear;
}

@keyframes moving {
    100% {transform: rotate(-360deg);}
}

.burger{
  cursor: pointer;
  position: relative;
  width: 60px;
  height: 31px;
}

.burger span{
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 5px;
  left: 0;
  top: 13px;
  border-radius: 10px;
  transition: all .1s;
}

.burger:before,
.burger:after{
  content: '';
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  border-radius: 10px;
  transition: all .3s;
}

.burger:before{
  top: 0;
}

.burger:after{
  bottom: 0;
}

.burger.active:before{
  transform: rotate(45deg);
  top:12px;
}

.burger.active:after{
  transform: rotate(-45deg);
  bottom: 12px;
}

.burger.active span{
  transform: scale(0);
}

.intro__container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  height: 1080px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro__content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.intro__title{
  line-height: 80%;
  font-size: 150px;
  color: #fff;
  font-weight: 900;
  margin-bottom: 100px;
}

.btn{
  align-items: center;
  justify-content: center;
  background-color: #FFD06A;
  border-radius: 50px;
  padding: 25px 70px;
  display: inline-block;
  transition: box-shadow .3s;
}

.btn:hover{
  box-shadow: 0px 10px 0px #C49A53;
}

.btn__icon{
  max-width: 28px;
}

.btn__link{
  color: #8D6204;
  font-size: 30px;
}

.social__container{
  position: relative;
}

.social__container:after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: -20px;
  width: 1px;
  height: 200px;
  background-color: #fff;
  display: block;
}

.social__icon{
  display: block;
  width: 30px;
  fill: #fff;
  margin-bottom: 30px;
  transition: fill .3s;
}

.social__icon:hover{
  fill: #FFD06A;
}

.section-about{
  position: relative;
  padding-top: 200px;
  padding-bottom: 200px;
}

.about__bg{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0 auto;
}

.title__container{
  position: relative;
  display: block;
}

.title__container:after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: -20px;
  width: 1px;
  height: 200px;
  background-color: #fff;
  display: block;
  opacity: .8;
}

.title{
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 20px;
  color: #fff;
  font-weight: 900;
  display: block;
}

.title__icon{
  margin-top: 15px;
  max-width: 25px;
}

.about__container{
  position: relative;
  z-index: 2;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.about__content{
  max-width: 450px;
}

.about__title{
  font-size: 60px;
  color: #fff;
  font-weight: 900;
  line-height: 80%;
}

.rating__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 30px;
}

.rating__number{
  color: #C49A53;
  font-size: 100px;
  font-weight: 900;
}

.line{
  width: 1px;
  height: 120px;
  background-color: #fff;
  opacity: .6;
}

.rating__text{
  font-size: 40px;
  color: #fff;
  font-weight: 900;
}

.about__text{
  font-size: 20px;
  color: #fff;
  font-weight: 300;
  line-height: 120%;
}

.info__container{
  position: absolute;
  bottom: -170px;
  left: 0;
  right: 0;
  z-index: 2;
  width: 400px;
  padding: 100px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  border-radius: 40px;
  color: #242424;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, .2);
}

.inro__title{
  font-size: 60px;
  font-weight: 900;
}

.info__percent{
  font-size: 100px;
  font-weight: 900;
}

.info__text{
  font-size: 30px;
  font-weight: 900;
}

.section-advantages{
  padding-top: 400px;
  padding-bottom: 100px;
  background-color: #FAF9F5;
}

.advantages__container{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.title-brown{
  color: #AEA392;
}

.title-container-brown:after{
  background-color: #AEA392;
}

.advantages__content{
  max-width: 790px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.advantage__item{
  cursor: pointer;
  color: #AEA392;
  font-size: 30px;
  font-weight: 900;
  background-color: #EEE9E1;
  border-radius: 10px;
  padding: 15px 25px;
  margin-right: 30px;
  margin-bottom: 30px;
  transition: .3s;
}

.advantage__item:hover{
  color: #fff;
  background-color: #FFD06A;
}

.advantages__text{
  font-size: 20px;
  color: #242424;
  font-weight: 900;
  line-height: 120%;
}

.advantages__media{
  max-width: 300px;
  animation: moving 5s infinite linear;
}

.section-catalog{
  padding-top: 200px;
  padding-bottom: 30px;
}

.catalog__container{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.catalog__number{
  font-size: 100px;
  color: #C49A53;
  font-weight: 900;
}

.catalog__text{
  margin: 35px 0;
  font-size: 60px;
  color: #fff;
  font-weight: 900;
}

.catalog__poster{
  width: 800px;
  height: 360px;
  border-radius: 40px;
  overflow: hidden;
}

.catalog__poster__media{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.catalog{
  margin: 0 -60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.catalog__item{
  cursor: pointer;
  position: relative;
  z-index: 1;
  width: 400px;
  height: 450px;
  border-radius: 40px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  margin: 60px;
}

.catalog__item__mask{
  pointer-events:none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #000;
  opacity: 0;
  transition: opacity .3s;
}

.catalog__item__media{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.catalog__item__text{
  position: relative;
  z-index: 3;
  padding: 20px;
  color: #fff;
  font-weight: 900;
  transform: translateY(120px);
  transition: transform .3s;
}

.catalog__title{
  font-size: 35px;
}

.catalog__price{
  font-size: 30px;
  text-align: right;
}

.catalog__item:hover .catalog__item__text{
  transform: translateY(0);
}

.catalog__item:hover .catalog__item__mask{
  opacity: 0.6;
}

.section-contact{
  position: relative;
  padding-top: 200px;
  padding-bottom: 320px;
}

.contact__container{
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.form__container{
  text-align: center;
  max-width: 600px;
  margin-left: 80px;
}

.form__title{
  font-size: 60px;
  color: #fff;
  font-weight: 900;
  margin-bottom: 100px;
}

.form .form__input:not(:last-child){
  margin-bottom: 20px;
}

.form__input{
  width: 100%;
  font-size: 20px;
  color: #fff;
  padding: 15px;
  background-color: #242424;
  border-bottom: 1px solid #fff;
}

.form__btn{
  margin-top: 40px;
  background-color: #FFD06A;
  border-radius: 50px;
  padding: 25px 70px;
  display: inline-block;
  transition: box-shadow .3s;
  color: #8D6204;
  font-size: 30px;
}

.form__btn:hover{
  box-shadow: 0px 10px 0px #C49A53;
}

.contact__bg_1{
  position: absolute;
  top: 0;
  right: -270px;
}

.contact__bg_2{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.footer{
  padding: 100px 0;
  background-color: #E4B348;
}

.footer__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__block1{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__logo{
  margin-right: 20px;
}

.footer__text{
  font-size: 20px;
  font-weight: 900;
  color: #fff;
}

.footer__social__container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer__social__container a:not(:last-child){
  margin-right: 20px;
}

.footer__icon{
 width: 30px;
 fill: #fff;
}

.footer__text-brown{
  color: #8D6204;
}

.footer__block4{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}


/*------Animation------*/
.about__title.anim{
  transition: 0.8s;
  transform: translateX(300px);
}
.about__title.anim-show{
  transform: translateY(0);
}
.title.anim{
  opacity: 0;
  transition: 0.5s;
  transform: translateY(-50px);
}
.title.anim-show{
  opacity: 1;
  transform: translateX(0);
}
.contact__social.anim{
  transition: 1s;
  transform: translateY(200px);
}
.contact__social.anim-show{
  transform: translateY(0);
}
/*------Animation------*/